*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    background-color: #f7f3f0;
    overflow:hidden;
}

section.intro-overlay{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: black;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}



.header-wrapper{
    /* border: 2px solid blue; */
    height: 5vw;
    width: 100%;
    position: relative;
    overflow:hidden;
}

section.intro-overlay h1{
    color: white;
    font-family: 'EB Garamond', serif;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 3.5vw;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
    text-align: center;
    /* border: 2px solid red; */
}

.navbar{
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 80px;
}

.nav{
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    text-transform: uppercase;
    /* border: 2px solid red; */
    flex-grow: 1;
    width: 0; /* to divide the flexbox equally */
    display: flex;
    align-items: center;
}

.nav.left{
    justify-content: flex-start;
}

.nav.middle{
    font-weight: 400;
    font-size: 24px;
    cursor: pointer;
    justify-content: center;
}

.nav.right{
    justify-content: flex-end;
}

.nav.right ion-icon{
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.nav span{
    color: #eb5b2b;
}

.hero{
    /* border: 2px solid red; */
    min-height: calc(100vh - 60px);
    /* height: 1000px; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20vw 0px 10vw 0px;
}

.hero-wrapper{
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: relative;
    /* overflow: hidden; */
    /* padding: 0px 200px; */
}

.top-header, .bottom-header{
    font-family: 'EB Garamond', serif;
    /* font-weight: 300; */
    font-size: 10vw;
    text-align: center;
    text-transform: uppercase;
    line-height:90%;
    position: absolute;
}

.top-header{
    top: -15vw;
}

.bottom-header{
    bottom: -6vw;
}

.hero-wrapper .image-container{
    /* width: 100%; */
    height: auto;
    overflow: hidden;
}

.hero-wrapper .image-container img{
    height: auto;
    width: 40vw;
    overflow:hidden;
    object-fit:cover;
    /* border: 2px solid red; */
}


.hr{
    background-color: #d8d8d8;
    height: 2px;
    margin: 0px 80px;
    /* border: 1px solid red; */
}


@media screen and (max-width: 768px){
    .navbar{
        height: 60px;
        width: 100%;
        padding: 30px 40px;
    }

    .hero-wrapper img{
        min-width: 70vw;
    }

    .bottom-header{
        bottom: -4vw;
    }

    .hr{
        margin: 0px 40px;
    }
}

@media screen and (max-width: 480px){
    .header-wrapper{
        height: 7vw;
    }

    section.intro-overlay h1{
        font-size: 5vw;
    }

    .navbar{
        height: 60px;
        width: 100%;
        padding: 30px 20px;
    }

    .nav.left{
        font-size: 3vw;
    }

    .nav.middle{
        font-size: 4vw;
    }

    .nav.right ion-icon{
        width: 20px;
        height: 20px;
    }

    .hero-wrapper img{
        min-width: 75vw;
    }

    .bottom-header{
        bottom: -4vw;
    }

    .hr{
        margin: 0px 20px;
    }
}