html{
    --scrollBorder: #f7f3f0;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    background-color: #f7f3f0;
    overflow:hidden;
    padding: 0 4vw;
}

body::-webkit-scrollbar {
    width: 1.1em;
}


body::-webkit-scrollbar-thumb {
    background-color: #606060;
    border-radius: 20px;
    border: 5px solid var(--scrollBorder);
    /* border: 5px solid #606060; */
}

body::-webkit-scrollbar-thumb:hover {
    background-color: #909090;
}

section.intro-overlay{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: black;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

section.contact-overlay{
    background-color: #d8d8d8;
    color: #d8d8d8;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    clip-path: circle(100px at -100px -100px);
    -webkit-clip-path: circle(100px at -100px -100px);
    padding: 0vw 4vw 0vw 4vw;
    display: flex;
    flex-direction: column;
}

.contact-overlay .close{
    cursor: pointer;
}

.contact-overlay .container{
    display: flex;
    padding: 4vw 0;
    height: 100%;
    display: flex;
    align-items: flex-end;
}

.contact-overlay .container .left,
.contact-overlay .container .right{
    flex-basis: 50%;
}

.contact-overlay .container .left{
    font-family: 'EB Garamond', serif;
    color: #d8d8d8;
    font-size: 10vw;
    text-transform: uppercase;
    line-height: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-overlay .container .left svg{
    width: 10vw;
    height: 10vw;
    object-fit: cover;
}

.contact-overlay .container .left .second-line{
    text-align: right;
}

.contact-overlay .container .right{
    padding-left: 4vw;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.contact-overlay > .container > .right > .top {
    margin-bottom: 8vw;
}

.contact-overlay > .container > .right > .top form input{
    width: 100%;
    border-bottom: 2px solid #716e6c;
    outline: none;
    border: none;
    padding: 0.5vw 0;
    background-color: #171614;
    border-bottom: 1px solid #f7f3f0;
    color: #f7f3f0;
    font-family: 'IBM Plex Sans Arabic', sans-serif;
}

.contact-overlay > .container > .right > .top form input::placeholder{
    color: #f7f3f0;
    transition: 0.4s;
}

.contact-overlay > .container > .right > .top form input:focus::placeholder{
    color: transparent;
}

.contact-overlay > .container > .right > .top form div{
    display: flex;
    justify-content: space-between;
    margin: 2vw 0;
}

.contact-overlay > .container > .right > .top form > input:last-child{
    margin-bottom: 2vw;
}

.contact-overlay > .container > .right > .top form div > input{
    flex-basis: 45%;
}

.contact-overlay > .container > .right > .top .arrow-container{
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.contact-overlay > .container > .right > .top .arrow-container > svg{
    cursor: pointer;
    height: 3vw;
    width: 3vw;
}
.contact-overlay > .container > .right > .top .arrow-container > svg polygon{
    transition: 0.4s;
}

.contact-overlay > .container > .right > .top .arrow-container > svg:hover polygon{
    fill: #ea4f1b;
}

.contact-overlay > .container > .right > .bottom{
    display: flex;
    justify-content: space-between;
    font-size: 1vw;
    font-family: 'IBM Plex Sans Arabic', sans-serif;
}

.sidebar{
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 100%;
    top: 0;
    padding: 4vw;
    color: #f7f3f0;
    background-color: #1f1f1f;
    z-index: 100;
    display: flex;
    flex-direction: column;
}

.sidebar > .section-preview{
    position: fixed; 
    top: 20%;
    left: 60%;
    height: 600px;
    width: 0;
    background: url('./images/9310bc54.jpg') no-repeat 50% 50%;
    background-size: cover;
    overflow: hidden;
}

.sidebar > .header,
.sidebar > .footer{
    flex-basis: 20%;
    width: 100%;
}

.sidebar > .body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: 60%;
    width: 50%;
}

.sidebar > .body > .item-wrapper:not(:last-child){
    margin-bottom: 2vw;
}

.sidebar > .body > .item-wrapper > .counter{
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    font-size: 1vw;
    display: inline-block;
    color: rgba(255,255,255,0.3);
}

.sidebar > .body > .item-wrapper > .item-label{
    display: inline-block;
    font-family: 'EB Garamond', serif;
    font-size: 4vw;
    cursor: pointer;
    position: relative;
    color: rgba(255,255,255,0.3);
}

.sidebar > .body > .item-wrapper > .item-label:before{
    color: #f7f3f0;
    overflow: hidden;
    white-space: nowrap;
    position: absolute;
    content: attr(data-text);
    width: 0;
    transition: all 1s cubic-bezier(0.84, 0, 0.08, 0.99);
}

.sidebar > .body > .item-wrapper > .item-label:hover:before{
    width: 100%;
}

.sidebar > .body > .item-wrapper > .item-label:hover + .counter{
    color: #f7f3f0;
}

.sidebar > .footer{
    display: flex;
    align-items: flex-end;
    padding: 0;
    width: 100%;
}

.sidebar > .footer > div{
    flex-basis: 33.33%;
}

.sidebar > .footer > div:last-child{
     display: flex;
    justify-content: flex-end;
}

.sidebar > .footer > div:nth-child(2){
    display: flex;
    justify-content: center;
}

.sidebar > .header{
    display: flex;
    justify-content: flex-end;
}

.sidebar > .header > ion-icon{
    width: 4vw;
    height: 4vw;
    cursor: pointer;
}

.header-wrapper{
    height: 5vw;
    width: 100%;
    position: relative;
    overflow:hidden;
}

section.intro-overlay h1{
    color: white;
    font-family: 'EB Garamond', serif;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 3.5vw;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
    text-align: center;
}

.navbar{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 2vw 0vw;
}

.nav{
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    text-transform: uppercase;
    flex-grow: 1;
    width: 0; /* to divide the flexbox equally */
    display: flex;
    align-items: center;
}

.nav.left{
    justify-content: flex-start;
    flex-basis: 33.33%;
    font-size: 1vw;
}

.nav.middle{
    font-weight: 400;
    font-size: 1.3vw;
    cursor: pointer;
    justify-content: center;
    flex-basis: 33.33%;
}

.nav.right{
    justify-content: flex-end;
    flex-basis: 33.33%;
}

.nav.right ion-icon{
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.nav span{
    color: #eb5b2b;
}

.hero{
    min-height: calc(100vh - 60px);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: calc(20vw + 60px) 0px 10vw 0px;
}

.hero-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: relative;
}

.top-header, .bottom-header{
    font-family: 'EB Garamond', serif;
    font-size: 10vw;
    text-align: center;
    text-transform: uppercase;
    line-height:90%;
    position: absolute;
}

.top-header{
    top: -15vw;
}

.bottom-header{
    bottom: -6vw;
}

.hero-wrapper .image-container{
    height: auto;
    overflow: hidden;
}

.hero-wrapper .image-container img{
    height: auto;
    width: 40vw;
    overflow:hidden;
    object-fit:cover;
}


.hr-wrapper{
    height: 4px;
    width: 0%;
    display: flex;
    align-items: center;
    
}

.hr{
    background-color: #d8d8d8;
    width: 100%;
    height: 100%;
}

.about{
    padding: 8vw 0 4vw 0;
    display: flex;
    height: 100% !important;
}

.about-desktop{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.about-desktop .left-col{
    padding: 0px 0px 0px 8vw;
}

.label-wrapper{
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    font-size: 1vw;
    color: #1f1f1f;
}

.about-desktop .label-wrapper{
    margin-bottom: 12vw;
}

.counter{
    margin-right: 4vw;
}

.about-desktop .left-col .image-wrapper{
    width:27vw;
    overflow: hidden;
}

.about-desktop .left-col .image-wrapper img{
    object-fit: cover;
    width: 100%;
    height: auto;
    padding-top: 90%;
}

.about-desktop .right-col h1{
    font-family: 'EB Garamond', serif;
    font-weight: 400;
    font-size: 6vw;
    line-height: 95%;
}

.about-desktop .right-col h2{
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    margin: 6vw 0px 4vw 0vw;
    font-weight: 400;
    font-size: 1.5vw;
    color: #1f1f1f;
    line-height: 1.7;
}

.about-desktop .right-col .image-wrapper{
    width:23vw;
    overflow: hidden;
}

.about-desktop .right-col .image-wrapper img{
    object-fit: cover;
    width: 100%;
    height: auto;
}

.infinity{
    margin: 2vw 0vw 8vw 0vw;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'EB Garamond', serif;
    font-size: 5vw;
    overflow: hidden;
}

.infinity .line-1,
.infinity .line-2{
    width: 100%;
    white-space: nowrap;
}

.infinity .line-1{
    margin-right: -20%;
}

.infinity .line-2{
    margin-left: -100%;
}

.expertise{
    padding: 0vw 0vw 8vw 0vw;
}

.expertise-header{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.expertise-header-label{
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    font-size: 1vw;
    color: #1f1f1f;
}

.expertise-header-title,
.contact-header-title{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'EB Garamond', serif;
    font-size: 10vw;
}

.expertise-items{
    cursor: pointer;
}

.expertise-item{
    display: flex;
    padding: 4vw 0;
    transition: 0.4s;
}

.item-counter, .item-label-container{
    flex-basis: 50%;
    display: flex;
}

.item-counter{
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    font-size: 6vw;
    font-weight: 400;
    color: #ea4f1b;
    justify-content: flex-start;
    align-items: center;
    letter-spacing: -0.5vw;
}

.item-label-container{
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    font-size: 1.5vw;
    font-weight: 600;
    color: #1f1f1f;

    justify-content: space-between;
    align-items: center;
}

.item-sub-label{
    color: #ea4f1b;
    font-size: 1vw;
    font-weight: 400;
}

.item-detail{
    margin-top: 1vw;
    opacity: 1;
    font-size: 1.1vw;
    font-weight: 400;
}


.item-button{
    transition: 0.4s;
    cursor: pointer;
}

.item-button ion-icon{
    width: 5vw;
    height: 5vw;
}

.partners{
    padding: 6vw 0vw;
    font-family: 'IBM Plex Sans Arabic', sans-serif;
}

.partners-header{
    display: flex;
    margin-bottom: 4vw;
}

.partners .wrapper{
    display: flex;
    color: #f7f3f0;
}

.partners .partners-header .label-wrapper{
    color: #f7f3f0;
    flex-basis: 35%;
}

.partners .partners-header .logo{
    flex-basis: 35%;
    display: flex;
    justify-content: flex-end;
    padding-right: 4vw;
}

.partners .partners-header .logo img{
    width: 3vw;
}

.partners .wrapper .left-col,
.partners .wrapper .middle-col{
    flex-basis: 35%;
}

.partners .wrapper .middle-col{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    padding-right: 4vw;
}

.partners .wrapper .left-col img,
.partners .wrapper .middle-col img{
    width: 25vw;
    object-fit: cover;
}

.partners .wrapper .right-col{
    flex-basis:30%;
    font-size: 1vw;
}

.partners .wrapper .right-col h1{
    padding-top: 50%;
    font-weight: 400;
}

.title-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 25vw;
}

.title-wrapper .name{
    font-size: 1.5vw;
}

.title-wrapper .title{
    font-size: 1vw;
    color: #eb5b2b;
}

.contact{
    padding: 6vw 0vw 8vw 0vw;
    color: #d8d8d8 !important;
}

.contact-header .contact-header-label{
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    font-size: 1vw;
}

.contact-body{
    display: flex;
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    font-size: 1vw;
    font-weight: 400;
    margin: 2vw 0vw;
}

.contact-body .left-col{
    flex-basis: 33.33%;
}

.contact-body .right-col-container{
    flex-basis: 66.66%;
    display: flex;
}

.contact-body .middle-col,
.contact-body .right-col{
    flex-basis: 50%;
}

.contact-body .left-col,
.contact-body .middle-col,
.contact-body .right-col{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4vw 2vw;
}

.contact-body .left-col{
    position: relative;
}

.circle{
    position: absolute;
    height: 15vw;
    width: 15vw;
    top: 0;
    left: 0;
    background: #f7f3f0;
    border-radius: 50%;
    opacity: 0.5;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items:center;
    z-index: 1;
}

.hello{
    color: #5b5b5b;
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    text-transform: uppercase;
    font-size: 1vw;
}

.hello.phone{
    display: none;
}

.hover-me{
    z-index: -2;
    font-size: 2vw;
}

.hover-me.phone{
    display: none;
}

.contact-body .middle-col,
.contact-body .right-col{
    flex-direction: column;
    font-size: 1.5vw;
    font-weight: 500;
    align-items: flex-start;
    justify-content: flex-start;
}

.middle-col .middle,
.right-col .middle{
    margin: 2vw 0vw;
}

.footer{
    padding: 0vw 0vw 7vw 0vw;
    display: flex;
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    color:#d8d8d8;
    font-size: 1.1vw;
}

.footer .left-col,
.footer .middle-col,
.footer .right-col{
    flex-basis: 33.33%;
}

.footer .middle-col{
    text-align: center;
}

.footer .middle-col span{
    cursor: pointer;
}

.footer .right-col{
    text-align: right;
}

.footer .left-col span{
    margin-right: 4vw;
}

@media screen and (max-width: 1024px){
    .partners .wrapper .right-col h1{
        padding-top: 20%;
        font-weight: 400;
        font-size: 2vw;
    }

    .partners .wrapper .left-col img,
    .partners .wrapper .middle-col img{
        width: 28vw;
        object-fit: cover;
    }

    .title-wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 28vw;
    }
}

@media screen and (max-width: 1024px) and (min-height: 1000px){
    .nav.left{
        font-size: 3vw;
    }

    .nav.middle{
        font-size: 4vw;
    }

    .nav.right ion-icon{
        width: 5vw;
        height: 5vw;
    }
}

@media screen and (max-width: 768px){
    .contact-overlay .container{
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end;
    }

    .contact-overlay .container .left,
    .contact-overlay .container .right{
        flex-basis: 100%;
        width: 100%;
    }

    .contact-overlay .container .left{
        font-size: 20vw;
    }

    .contact-overlay .container .left svg{
        width: 20vw;
        height: 20vw;
        object-fit: cover;
    }

    .contact-overlay .container .left .second-line{
        text-align: center;
    }

    .contact-overlay > .container > .right{
        padding: 0;
        justify-content: space-between;
    }

    .contact-overlay > .container > .right > .bottom{
        font-size: 1.5vw;
    }

    .nav.left{
        font-size: 2vw;
    }
    
    .nav.middle{
        font-size: 3vw;
    }
    
    .nav.right{
        justify-content: flex-end;
        flex-basis: 33.33%;
    }
    
    .nav.right ion-icon{
        width: 35px;
        height: 35px;
    }

    .hero{
        padding: 0;
    }

    .hero-wrapper img{
        min-width: 70vw;
    }

    .bottom-header{
        bottom: -4vw;
    }

    .label-wrapper, .expertise-header-label,
    .label-wrapper, .contact-header-label{
        font-size: 3vw !important;
    }

    .infinity{
        margin: 2vw 0vw 20vw 0vw;
        font-size: 10vw;
        line-height: 1;
    }
    
    .about{
        padding: 20vw 0 8vw 0;
    }

    .about-desktop .left-col{
        flex-basis: 40%;
    }

    .about-desktop .right-col{
        flex-basis: 50%;
    }
    
    .about-desktop .right-col .image-wrapper{
        width:35vw;
    }

    .about-desktop .right-col h1{
        font-size: 6vw;
    }
    
    .about-desktop .right-col h2{
        margin: 6vw 0px 6vw 0vw;
        font-size: 3vw;
    }

    .expertise-header{
        margin-bottom: 8vw;
    }

    .item-counter{
        flex-basis: 35%;
    }
    .item-label-container{
        flex-basis: 65%;
    }
    
    .item-counter{
        font-size: 7vw;
        letter-spacing: -0.2vw;
    }
    
    .item-label-container{
        font-size: 4vw;
        font-weight: 400;
    }
    
    .item-sub-label{
        font-size: 3vw;
        font-weight: 500;
    }
    
    .item-detail{
        margin-top: 3vw;
        font-size: 2.5vw;
        font-weight: 500;
    }
        
    .item-button ion-icon{
        width: 6vw;
        height: 6vw;
    }

    .partners-header{
        width: 100%;
    }

    .partners .partners-header .label-wrapper,
    .partners .partners-header .logo{
        flex-basis: 50%;
    }

    .partners .partners-header .logo img{
        width: 4vw;
    }

    .partners .wrapper{
        flex-direction: column;
    }

    .partners .wrapper .left-col,
    .partners .wrapper .middle-col{
        flex-basis: 100%;
        margin-bottom: 8vw;
    }

    .partners .wrapper .right-col{
        width: 70%;
        margin: 16vw 0vw;
    }

    .partners .wrapper .right-col h1{
        padding-top: 0;
        font-size: 3.5vw; 
    }

    .partners .wrapper .middle-col{
        padding-right: 0vw;
    }

    .partners .wrapper .left-col img,
    .partners .wrapper .middle-col img{
        width: 100%;
        margin-bottom: 2vw;
    }

    .title-wrapper{
        width: 100%;
        margin-bottom: 2vw;
    }

    .title-wrapper .name{
        font-size: 4vw;
    }

    .title-wrapper .title{
        font-size: 3vw;
    }

    .contact-body .middle-col,
    .contact-body .right-col{
        font-size: 2vw;
    }

    .hello{
        font-size: 2vw;
    }

    .contact-body .left-col{
        flex-direction: column;
        flex-basis: 50%;
    }

    .contact-body .right-col-container{
        flex-direction: column;
        flex-basis: 50%;
    }

    .contact-body .right-col-container .middle-col,
    .contact-body .right-col-container .right-col{
        font-size: 3vw;
    }

    .circle{
        height: 20vw;
        width: 20vw;
    }   

    .footer{
        padding: 0vw 0vw 7vw 0vw;
        font-size: 2vw;
    }

    .hover-me,
    .hello{
        display: none;
    }

    .hover-me.phone,
    .hello.phone{
        display: block;
    }
}

@media screen and (max-width: 480px){
    .contact-overlay > .container > .right > .bottom{
        font-size: 2.5vw;
    }


    .header-wrapper{
        height: 7vw;
    }

    section.intro-overlay h1{
        font-size: 5vw;
    }

    .navbar{
        height: 60px;
        width: 100%;
    }

    .nav.left{
        font-size: 3vw;
    }

    .nav.middle{
        font-size: 4vw;
    }

    .nav.right ion-icon{
        width: 20px;
        height: 20px;
    }

    .hero-wrapper img{
        min-width: 75vw;
    }

    .bottom-header{
        bottom: -4vw;
    }

    .hr-wrapper{
        height: 2px;
    }

    .about-desktop .label-wrapper{
        margin-bottom: 35vw;
        font-size: 1vw;
    }

    .about-desktop .right-col{
        flex-basis: 55%;
    }

    .about-desktop .right-col h1{
        font-size: 8vw;
    }

    .about-desktop .right-col h2{
        margin: 6vw 0px 8vw 0vw;
        font-size: 4vw;
    }

    .about-desktop .right-col .image-wrapper{
        width:40vw;
    }

    .item-counter{
        flex-basis: 20%;
    }

    .item-label-container{
        flex-basis: 80%;
    }

    .contact-body .middle-col,
    .contact-body .right-col{
        font-size: 3vw;
    }

    .hello{
        font-size: 3vw;
    }

    .contact-body .left-col{
        flex-direction: column;
        flex-basis: 40%;
    }

    .contact-body .left-col,
    .contact-body .middle-col,
    .contact-body .right-col{
        padding: 0;
    }

    .contact-body .middle-col{
        margin-bottom: 8vw;
    }

    .contact-body .right-col-container{
        flex-direction: column;
        flex-basis: 60%;
    }

    .circle{
        height: 25vw;
        width: 25vw;
    } 

}

@media screen and (max-width: 1024px) and (orientation: landscape){
    .nav.left{
        font-size: 2vw;
    }

    .nav.middle{
        font-size: 2.5vw;
    }

    .contact-overlay .container{
        flex-direction: row;
    }
}

@media screen and (max-height: 400px) and (max-width: 1024px) and (orientation: landscape){
    .contact-overlay > .container > .right > .top form input{
        padding: 0.2vw 0;
        font-size: 1.1vw;
        border-bottom: 1px solid #f7f3f0;
    }
}

@media screen and (max-width: 768px) and (orientation: landscape),
screen and (max-height: 400px){

    .hero{
        padding: calc(20vw + 60px) 0px 10vw 0px;
    }
    
    .contact-overlay .container .left{
        font-size: 10vw;
    }

    .contact-overlay .container .left svg{
        width: 8vw;
        height: 8vw;
    }

    .contact-overlay > .container > .right > .top form input{
        padding: 0.5vw 0;
        font-size: 1.5vw;
        border-bottom: 1px solid #f7f3f0;
    }
}